{% extends "base.html" %}

{% block content %}
  {% if g.user %}
    <h2>{{ name }} | ID: {{ id }}</h2>
    <div class="stats-box">
      <h4>Statistics for past 15 days:</h4>
      <p>Max: {{ max }}  | Min: {{ min }}  |  Average: {{ avg }}</p>
    </div>

    {% for price in prices %}
    <div class="shop-box">
      <div>Zeny per: {{ price.price}}</div>
      <div>Shop Owner: {{ price.owner }}</div>
      <div>Location: {{ price.map_location }} at ({{ price.map_x }}, {{ price.map_y }})</div>
      <div>Store Opened: {{ price.timestamp }}</div>
    </div>
    {% endfor %}

    <br>

    <h2>Historical</h2>
      {% for price in old_prices %}
      <div class="shop-box">
        <div>Zeny per: {{ price.price}}</div>
        <div>Shop Owner: {{ price.owner }}</div>
        <div>Location: {{ price.map_location }} at ({{ price.map_x }}, {{ price.map_y }})</div>
        <div>Store Opened: {{ price.timestamp }}</div>
      </div>
      {% endfor %}



  {% endif %}

{% endblock %}
