<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OriginsRO Market Tracking</title>

  <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>

  <body>

    {% for message in get_flashed_messages() %}
      <h2>{{ message }}</h2>
    {% endfor %}

    <nav class="navbarRO">
      {% if not g.user %}
        <a href="/login">Login</a>
         |
        <a href="/register">Register</a>
      {% else %}
        <a href="/tracking">My Trackings</a>
         | 
        <a href="/logout">Logout</a>
      {% endif %}
    </nav>

    {% block content %}

    {% endblock %}

  </body>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="static/script.js"></script>
</html>
