<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OriginsRO Market Tracking</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
  <nav>
    {% if not g.user %}
    <a href="/login">Login</a>
     |
    <a href="/register">Register</a>
    {% else %}
      <a href="/tracking">My Trackings</a>
       |
      <a href="/logout">Logout</a>
    {% endif %}
  </nav>

  {% block content %}

  {% endblock %}

</body>

</html>
