{% extends "base.html" %}

{% block content %}
  {% if g.user %}
    <h2>{{ name }} | ID: {{ id }}</h2>
    <div>
      <h4>Statistics for past 15 days:</h4>
      <p>Max: {{ max }} zeny  | Min: {{ min }} zeny  |  Average: {{ avg }} zeny</p>
    </div>

    <div>
      <h2>Current Shops</h2>
      <i>sorted by cheapest</i>
    </div>

    {% if prices|length == 0 %}
      <p>(There is no current stock.)</p>

    {% else %}
      <table>
        <tbody>
          <tr>
            <th>Zeny Per Unit</th>
            <th>Shop Owner</th>
            <th>Location</th>
            <th>Store Open Date</th>
          </tr>

        {% for price in prices %}
          <tr>
            <td>{{ price.price}}</td>
            <td>{{ price.owner }}</td>
            <td>{{ price.map_location }} at ({{ price.map_x }}, {{ price.map_y }})</td>
            <td>{{ price.timestamp }}</td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}


    <br>
    <div>
      <h2>Historical</h2>
      <i>sorted by shop date</i>
    </div>

    {% if old_prices|length == 0 %}
      <p>(There is no stock from the past 15 days.)</p>

    {% else %}
      <table>
        <tbody>
          <tr>
            <th>Zeny Per Unit</th>
            <th>Shop Owner</th>
            <th>Location</th>
            <th>Store Open Date</th>
          </tr>

        {% for price in old_prices %}
          <tr>
            <td>{{ price.price}}</td>
            <td>{{ price.owner }}</td>
            <td>{{ price.map_location }} at ({{ price.map_x }}, {{ price.map_y }})</td>
            <td>{{ price.timestamp }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}


  {% endif %}

{% endblock %}
