{% extends "base.html" %}

{% block content %}
  {% if g.user %}
    <h2> {{ name }} | ID: {{ id }}</h2>
    <ul>
    {% for price in prices %}

      <li> Zeny per: {{ price.price}}</li>
      <li> Shop Owner: {{ price.owner }}</li>
      <li>Location: {{ price.map_location }} at ({{ price.map_x }}, {{ price.map_y }})</li>
      <li> Store Opened: {{ price.timestamp }}</li>
    <br>
    {% endfor %}
    </ul>

    <h2>History</h2>
    <ul>
      {% for price in old_prices %}
        <li> Zeny per: {{ price.price}}</li>
        <li> Shop Owner: {{ price.owner }}</li>
        <li> Store Opened: {{ price.timestamp }}</li>
      {% endfor %}
    </ul>



  {% endif %}

{% endblock %}
