{% extends "base.html" %}

{% block content %}
  {% if g.user %}

    {% if length == 0 %}
      <h3 style="text-align: center">No items on tracking list.</h3>
    {% else %}

      <div id="grid" class="container">
        <div class="row">

            {% for shop in shops %}
              <div class="col-md-3">
                <div class="card">
                  <form method="POST" action="/tracking/{{ shop.item_id }}/remove">
                    <button class="btn btn-sm">X</button>
                  </form>

                  <div class="card__top">
                    <span class="card-name"><a href="tracking/{{ shop.item_id }}">{{ shop.name }}</a></span>
                    <span>Item ID: {{ shop.item_id }}</span>
                  </div>

                  <div class="card__bottom">

                    {% if shop.price %}
                    <div>
                      <b>Current Cheapest: <a href="tracking/{{ shop.item_id }}">{{ shop.price }} zeny</a></b>
                    </div>

                      <!-- <div>Location: {{ shop.map_location }} at ({{ shop.map_x }}, {{ shop.map_y }})</div> -->
                    {% else %}
                      <div><i>{{ shop.name }}</i> is currently not in stock. </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
    {% endif %}
  {% endif %}

{% endblock %}
