{% extends "base.html" %}

{% block content %}
  {% if g.user %}
    <div>
      <a href="/tracking/add">Add Item</a>
    </div>

    {% if length == 0 %}
      <h3>No items on tracking list.</h3>
    {% else %}
      <ul>
        {% for shop in shops %}
          <div>
            <li>
              <a href="tracking/{{ shop.item_id }}">{{ shop.name }}</a>
               | Item ID: {{ shop.item_id }}
              <form method="POST" action="/tracking/{{ shop.item_id }}/remove" id="remove-item-form">
                <button class="btn btn-sm">Remove</button>
              </form>
            </li>

          {% if shop.price %}
            <li>Cheapest Available Price: {{ shop.price }}z</li>
            <li>Location: {{ shop.map_location }} at ({{ shop.map_x }}, {{ shop.map_y }})</li>
          {% else %}
            <li>{{ shop.name }} is currently not in stock.</li>
          {% endif %}

          </div>
          <br>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

{% endblock %}
